<h1>ajouter des nuances à <%=@post.title%></h1>

<%= form_with(model: @post, url: post_path(@post), local: true) do |form| %>
    <%= form.hidden_field :title %>

  <div class="field">
    <%= form.label :measure %>
        <%= number_field_tag 'measure', nil, style: "font-size: 24px;" %>

  </div>

  <div class="field">
    <%= form.label :nuances, style: "font-size: 18px;" %>
<% @nuances.each do |nuance| %>
  <div class="form-check">
    <%= check_box_tag "nuance_ids[]", nuance.id, false, class: "", id: "nuance_#{nuance.id}" %>
      <%= form.label "nuance_#{nuance.id}", nuance.name, for: "nuance_#{nuance.id}", class: "", style: "font-size: 18px; cursor: pointer;" %>

  </div>
<% end %>

  </div>

  <div class="actions">
    <%= form.submit 'Save Post and Create Cards' %>
  </div>
<% end %>

