<p style="color: green"><%= notice %></p>

<h1><%=@post.title%></h1>
<p><%=link_to @post.cat.try(:name).to_s,mycat_path(name: @post.cat.name.parameterize)%></p>
<img src="/wp-content/uploads/2019/05/image-4.png" class="mypic"/>
<%=simple_format(@post.content)%>

<%=render @post.memos%>
<%=render @post.myfiles%>
<div>
  <%= link_to "add a score to this post", addfile_post_path(@post) %> |
  <%= link_to "add memo to this post", addmemo_post_path(@post) %> |
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %> |
  <%= link_to 'New Card', new_post_card_path(@post) %>
<%= link_to 'New card for post', new_with_cards_post_path(@post) %>


  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
